PORT=3002
NODE_ENV=development
SERVICE_NAME=user-service
LOG_LEVEL=debug

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/online_store?schema=users

CACHE_STORE=memory
REDIS_URL=redis://localhost:6379

QUEUE_TRANSPORT=rabbitmq
RABBITMQ_URL=amqp://guest:guest@localhost:5672
