PORT=3003
NODE_ENV=development
SERVICE_NAME=product-service
LOG_LEVEL=debug

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/online_store?schema=products

CACHE_STORE=memory
REDIS_URL=redis://localhost:6379
